<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        
        <add name="EDLpakse.Properties.Settings.EDLpakseConnectionString2"
            connectionString="Data Source=JO\SQLEXPRESS;Initial Catalog=EDLpakse;User ID=sa;Password=56132146jo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>